.form-group-for-add-coupan {
  width: 100%;
}
.add_coupan_heading {
  font-size: 24px;
  text-align: center;
  font-weight: 600;
  border-bottom: 1px solid #ccc;
  padding-bottom: 6px;
  background: white;
  width: 100%;
}
.add_coupan_second_div {
  width: 100%;
  min-width: 550px;
  display: flex;
  flex-direction: column;
  gap: 10px;
  padding-top: 20px;
  padding: 10px;
  max-height: 500px;
  overflow-y: scroll;
}
.form-group-for-add-coupan {
  width: 100%;
}
.form-group-for-add-coupan label {
  font-size: 16px;
  padding-bottom: 2px;
}
.form-group-for-add-coupan input,
.form-group-for-add-coupan select {
  width: 100%;
  padding: 7px;
  border-radius: 5px;
  border: 1px solid black;
}
.main_add_new_popup_heading_div{
    display: flex;
    align-items: center;
}
.add_coupan_button_new{
  background: #e335a0;
  color: white;
  margin: 0px;
  border: none;
  padding: 10px 20px;
  border-radius: 8px;
}

.div_popup_input_div{
  display: flex;
  gap: 10px;
  padding: 5px 0px;
}
.remove_item_button{
  background: rgba(241, 35, 35, 0.897);
  color: white;
  font-size: 20px;
  margin: 0px;
  border: none;
  padding: 5px 20px;
  border-radius: 8px;
  transition: all 0.5s ease-in-out;
}
.remove_item_button:hover{
  background: rgba(106, 103, 103, 0.897);
  color: white;
  font-size: 20px;
  margin: 0px;
  border: none;
  padding: 5px 20px;
  border-radius: 8px;
}

.add_item_button_new_popup{
  background: #000;
  color: white;
  padding : 7px 17px;
  border-radius: 4px;
  border: none;
  margin: 0px;
  margin-top: 10px;
}

.popup_input_div_new{
  width: 100%;
}
.popup_button_div_new{
  width: 10%;
}