.main_admin_sidebar {
    width: 250px;
    height: 100vh;
    background-color: #f8cce7;
    position: fixed;
    left: 0;
    top: 0;
    transition: width 0.3s ease-in-out;
  }
  
  .main_admin_sidebar.closed {
    width: 80px;
  }
  
  .admin_sidebar {
    display: flex;
    flex-direction: column;
    align-items: center;
    padding-top: 20px;
  }
  
  .admin_sidebar_header_logo_img {
    width: 250px;
    height: auto;
    border-radius: 50%;
  }
  
  .admin_sidebar_menu {
    width: 100%;
  }
  
  .admin_sidebar_menu_items {
    width: 90%;
    padding: 12px;
    margin: 8px auto;
    text-align: left;
    font-size: 18px;
    font-weight: bold;
    color: #333;
    background: white;
    border-radius: 8px;
    cursor: pointer;
    transition: background 0.3s ease-in-out;
  }
  
  .admin_sidebar_menu_items:hover,
  .admin_sidebar_menu_items.selected {
    background-color: #ff9fcf;
    color: white;
  }
  
  .admin_sidebar_logout {
    text-align: center;
    margin-top: auto;
    padding-bottom: 20px;
  }

  